**/.vscode
**/.idea
**/__pycache__
**/venv
**/celerybeat*
**/static/log.txt*
**/static/sqltap.txt
**/static/resources
**/temp.*
venv/
.idea/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml